@import "variables";

@font-face {
	font-family: Azerbaycan; 
	src: asset-url("azer.otf");
}

*{	
	font-family: Azerbaycan;
	padding:0px;
	margin:0px;
}

.header{
	width:100%;
}

.log{
	z-index: $max-z-index;
	transition: all 0.5s ease;
	position:absolute;
}

.in{
	transition: all 0.5s ease;
	top:25px;
	right:25px;
	text-align:center;
	background: $log-in-color;
	border:0px;
	overflow:hidden;
	>span{
		-webkit-user-select:none;
		color:white;
		text-align:center;
		font-size:32px;
		background: $log-in-color;
		cursor: pointer;
	}
}

.panel{
	opacity:0;
	transition: all 0.5s ease;
	overflow:hidden;
	padding:0px;
	color:white;
	text-align:center;
	width:175px;
	font-size:18px;
	background: $log-in-color;
	height:0;
	>form{
		transition: all 0.5s ease;
		height:0;
	}
	&.active{
		transition: all 0.5s ease;
		padding:25px;
		height:100%;
		opacity:1;
		>form{
			height:100%;
		}
	}
}



input[type="text"],
input[type="password"],
input[type="submit"]{
	padding:5px;
	margin:15px;
	width:80%;
	color:black;
}

input[type="submit"]{
	background:white;
	border:0px;
	cursor: pointer;
}

.manager{
	z-index: $max-z-index;
	position:fixed;
	top:25px;
	width:50%;
	left:25%;
	background:rgba(192,192,192,.9);
	border-radius:15px;
	>div.url{
		text-align:center;
		padding:5px;
	}
}

.menu {
	z-index: $max-z-index;
	position:fixed;
	left:25px;
	top: 0;
	>ul{
		list-style-type:none;
	}
}

.selected{
	z-index: $max-z-index;
	text-align:right;
	transition: all 0.5s ease;
	position:absolute;
	left: -25px;
	cursor:pointer;
	>span>a{
		transition: all 0.5s ease;
		position:absolute;
		color:white;
		font-size:25px;
		padding:7px;
		height: 50px;
		width: $menu-item-width;
		background:#6699FF;
		border-right:#0000CC solid 5px;
		text-decoration: none;
		&:hover{
			width: $menu-item-width + 5 ;
			border-right:#00CC00 solid 5px;
		};
	}
}

.header-space{
	margin-top: 100px;
}

@mixin default-block {
	margin-left: $menu-item-width + 35px;
	margin-bottom: 50px;
	max-width:calc(100% - #{($menu-item-width + 35px + 40px)});
	border:1px gray solid;
	border-radius:30px;
}

.lab{
	@include default-block;
	background: darken($base-color,8%);
	>span{
		display:block;
		margin:30px;
		font-size:29px;
	}
}

.rab{
	margin:30px;
	width:300px;
	display:inline-block;
	>img{
		width:100%;
	}
}

.rabota{
	@include default-block;
	background: lighten(gray,15%);
	.text{
		border-radius:40px;
		text-align: center;
		.label{
			margin: auto;
			width: 50%;
		}
		>span{
			font-size: 22px;
			display:block;
			background:white;
			text-align: center;
			margin: auto;
			margin-top:10px;
			margin-bottom:10px;
			border-radius:30px;
			padding:2px;
			width: 50%;
		}
		>div{
			margin-left:15%;
		}
	}
	.img{
		a{
			float:left;
			margin-left: 15px;
			margin-bottom: 15px;
		}
		img{
			width:250px;
		}
	}
}

.like{
	box-shadow:  3px 3px 10px #00c;
	float: left;
	background: asset-url("like.png") no-repeat center center ;
	height: 75px;
	width:  75px;
	background-size: contain;
}
.pressed{
	box-shadow: inset 3px 3px 10px #00c !important;
}

#table-block *{
	font-size: 14pt;
	font-family: Times New Roman;
}

@keyframes spin {
	0% {
		opacity:0;
		width: 0px;
		height: 0px;
		padding: 0px;
		margin-left: 0;
		margin-top: 0;
		border: 0px;
	}
	15% {
		opacity:1;
		width: 400px;
		height: 100px;
		padding: 30px;
		margin-left: calc(50% - 200px);
		margin-top: 150px;
		border: green 5px solid;
	}
	90%	{
		opacity:1;
		width: 400px;
		height: 100px;
		padding: 30px;
		margin-left: calc(50% - 200px);
		margin-top: 150px;
		border: green 5px solid;
	}
	100% {
		opacity:0;
		width: 0px;
		height: 0px;
		padding: 0px;
		margin-left: 0;
		margin-top: 0;
		border: 0px;
	}
}

p.alert{
	overflow:hidden;
	position: fixed;
	color: white;
	width: 0px;
	text-align: center;
	height: 0px;
	padding: 0px;
	border: 0px;
	border-radius: 30px;
	display: block;
	font-size: 25px;
	margin-left: 0;
	margin-top: 0;
	z-index: $max-z-index;
	animation: spin 2s linear 0s normal;
	animation-iteration-count:1;
}

p.alert.alert-success {
	background: rgba(33,99,00,0.5);
}

p.alert.alert-danger{
	background: rgba(99,00,00,0.8);
}

.apple_pagination {
	border-radius: 5px;
	background: #f1f1f1;
	text-align: center;
	padding: 1em;
	cursor: default;
}

.apple_pagination a, .apple_pagination span {
	padding: 0.2em 0.3em;
}

.apple_pagination .disabled {
	color: #aaaaaa;
}

.apple_pagination .current {
	font-style: normal;
	font-weight: bold;
	background-color: #bebebe;
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	line-height: 1.5;
	border-radius: 1em;
	text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

.apple_pagination a {
	text-decoration: none;
	color: black;
}

.apple_pagination a:hover, .apple_pagination a:focus {
	text-decoration: underline;
}