body{
	overflow:hidden;
}

.manager{
	#prev{
		position:absolute;
		top:2px;
		left:15px;
	}
	#next{
		position:absolute;
		top:2px;
		right:15px;
	}
}

.slid{
	z-index:0;
	transition: all 0.3s ease;
	visibility:hidden;
	height:0px;
	width:100%;
	opacity: 0;
	>img{
		transition: all 0.7s ease;
		width:100%;
		opacity: 0;
	}
	>div{
		transition: all 0.5s ease;
		display:block;
		position:fixed;
		width:90%;
		height:0px;
		background:white;
		padding:0px;
		border:0px;
		bottom:50px;
		margin-left:5%;
		overflow:hidden;
		>div.text{
			width: 50%;
			float: left;
			padding:10px;
			text-align:center;
		}
	}
	&.hidden{
		visibility:hidden;
	}
	&.active{
		z-index:0;
		visibility:visible;
		width:100%;
		opacity: 1;
		>img{
			opacity: 1;
		}
		>div{
			height:150px;
			padding:5px;
			border:1px solid #33CC00;
		}
	}
}